{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}
{% block content %}

<style>
    body{
        background: rgb(221, 224, 236);
    }
</style>
<!-- <svg xmlns="http://www.w3.org/2000/svg"  id="navLeft" width="16" height="16" fill="currentColor" 
        class="navleft float-left mt-3 bi bi-arrow-left-circle navLeft" viewBox="0 0 16 16">
        <a xlink:href="{% url 'home' %}" class="">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg> -->

<div class="container-fluid border bg-white mt-2 mb-4 col-sm-6 col-sm-6 shadow-lg rounded">
<h1 class="text-center ">Reset Password</h1>
<br><br>

<!-- <div class="col-md-4"> -->
<div class="form-group">
<form action="" method="post">
    {% csrf_token %}
<!-- Django form in order how we use in admin area p can be changed to ul or table etc -->
    {{ form.as_p }}
    <button class="btn btn-primary shadow-lg" id="cp">Reset Password</button>

    <button class="btn ml-2 btn-danger shadow-lg "><a href="{% url 'home' %}" class="text-white"
        style="text-decoration: none;">Cancel</button>
    </a>

<br><br>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
           <li> Your password must contain at least 8 characters.</li>
           <li>Your password can’t be a commonly used password.</li>
           <li>Your password can’t be entirely numeric.</li>
    </ul>

</form>
</div>
</div>
<script>
    document.getElementById('id_new_password2').innerHTML="Hellos";
</script>

<!-- </div> -->
{% endblock %}

