{% extends 'base.html' %}

{% block title %}Password Updated{% endblock %}
{% block content %}

<div class="container-fuild ">
<div class="container col-md-6 my-3 py-3 shadow  rounded">
<h1 class="text-center ">Your Password changed Successfully!</h1>
<br>
<p class="text-center">You may now use your new password to login to EOC</p>
<div class="text-center">
<a href="{% url 'home' %}" class="text-white text-decoration-none"><button class="btn btn-primary ">Back</a></button>
</div>
</div>
</div>
<!-- <br><br> -->
<!-- <div class="col-md-4"> -->
<!-- <div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        Django form in order how we use in admin area p can be changed to ul or table etc
        {{ form.as_p }}
        <button class="btn btn-secondary">Login</button>

</form>
</div> -->
<!-- </div> -->
{% endblock %}

