{% extends 'base.html' %}

{% block title %}Delete blog Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <a href="{% url 'category-list' %}" class="text-dark btn btn-white text-white  "
    style="text-decoration: none;
    color: black;">
    <svg xmlns="http://www.w3.org/2000/svg"  id="navLeft" width="16" height="16" fill="currentColor" 
            class="navleft float-left mt-3 bi bi-arrow-left-circle navLeft bg-transparent" viewBox="0 0 16 16">
            <a xlink:href="{% url 'home' %}" class="">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </a>
    
    <div class="container-fluid col-md-4 shadow rounded">
    <h1 class="text-center mt-2">Delete Post</h1>
    <br><br>
    <h3 class="text-center">Delete: {{ post.title }}</h3>

    <!-- <div class="col-md-4"> -->
    <div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        <div class="text-center">
        <strong >Are you sure?!</strong><br><br>
        <button class="btn btn-danger mb-3 ">Delete Post!</button></div>
    </form>
    </div>

</div>
<!-- </div> -->
    {% else %}
    Login first then proced...
    {% endif %}
{% else %}
Login first then proced...

{% endif %}

{% endblock %}